<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1"/>
		<title>LoyaltyOne Application</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRR_8u4YMo-WdCaKLALNYHWXq8EosjWiU"></script>
</head>
	</head>
	<body>
	<p><b>hello world</b></p></br>
	Type your text:<input type="text" name="text_id" id="text_id"/></br>
	<input type="button" name="displayText" id="displayText" value="DONE" onclick="displayPassedText();"/></br>
	<p id="test"></p></br>
	
	<script>
	// On click of button, value passed in textbox is passed to service and displayed back
	function displayPassedText() {
		var inputVal = document.getElementById("text_id").value;
		console.log("ww"+inputVal);
	   $.ajax({
	        url: "/gettext/"+inputVal,
	        type: "GET",
	        success: function (data) {
	        	//console.log("GET DATA API RESPONSE - ID::"+data);
	        	$("#test").html(data);
	        	//console.log("GET DATA API RESPONSE - NAME::"+data.name);
	        }, error: function (jqXHR, textStatus, errorThrown) {
	        }
		});
	}
	</script>
	</body>
</html>